<title>pchess</title>

{% block head %}
    {#  bootstrap css #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    {# css for the chessboard #}
    <link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/pchess_local.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">pchess</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    {# Left column #}
    {# display which sides turn it is to play #}
    <div class="container">
        {# here, we want these to actually be links to vote? #}
        {# and probably want the user to stay on the page, not load a new page or anything like that. #}
        {# also, these should probably go in a nice grid or something like that instead of this gross #}
        {# long list that they are in now #}
        <div id="moves">
            {% if checkmate %}
                <h3>CHECKMATE</h3><br>
                <h4>New game starting soon</h4>
            {% else %}
                {% if white_turn %}
                    <h2> White's turn</h2>
                {%  else %}
                    <h2> Black's turn</h2>
                {% endif %}
                {% if check %}
                    <h2>CHECK</h2>
                {% endif %}
                <p>Legal moves:</p>
                <div class="movewrapper">
                {% for move in legal_moves %}
                    <div>
                        <input type="radio" id="{{ move }}" name="moves" value="{{ move }}" onmouseover="mouseOver('{{ move|safe }}')" onmouseout="mouseOff('{{ move|safe }}')">
                        <label class="moveLabels" for="{{ moves }}" onmouseover="mouseOver('{{ move|safe }}')" onmouseout="mouseOff('{{ move|safe }}')">{{ move }}</label>
                    </div>
                {% endfor %}
                </div>
                {% if not checkmate %}
                    <button class="btn btn-primary" id="vote_button" onclick="voteBind();">Vote</button>
                {% endif %}
            {% endif %}

        </div>
    </div>
    </div>
    <div class="col-sm">
        <div id="timer">Time left to vote <span id="time">1:00</span> seconds!</div>

        <div id="myBoard" style="width: 400px"></div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>





    {# jquery and chessboard libraries #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
    {# bootstrap js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

    var whiteSquareGrey = '#a9a9a9';
    var blackSquareGrey = '#696969';

    var config = {pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
        draggable: true,
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd,
        position: {{board|tojson}}};
    var oldMove =  "";
    var board = Chessboard('myBoard', config);
    // grey square stuff from
    // https://chessboardjs.com/examples#5003

    function removeGreySquares () {
      $('#myBoard .square-55d63').css('background', '')
    }
    function greySquare (square) {
      var $square = $('#myBoard .square-' + square);

      var background = whiteSquareGrey;
      if ($square.hasClass('black-3c85d')) {
        background = blackSquareGrey
      }
      $square.css('background', background)
    }

    // deal with mousing over radio buttons
    function mouseOver(a) {
        greySquare(a.slice(0, 2));
        greySquare(a.slice(2,4));
    }

    function mouseOff(a) {
        removeGreySquares();
    }

    function onDragStart(source, piece, position, orientation)
    {
        if (oldMove !== "")
        {
            // undo old move
            board.move(oldMove);
        }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        var targetMove = source.concat(target);
        // get all moves
        var allMoves = $(".moveLabels").map(function() {
            return this.innerHTML;
        }).get();
        if (allMoves.includes(targetMove)) {
            oldMove = targetMove.slice(2, ) + "-" + targetMove.slice(0, 2); // TODO: do all moves work like this?
            // consider promotion: a7a8q
            document.getElementById(targetMove).checked = true;
        }
        else {
            // if this isn't a legal move
            return 'snapback';
        }
    }

    function onSnapEnd()
    {

    }

    </script>

    {# Start up socketio for communicating with server #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
            integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        {# javascript timer from #}
        {# https://stackoverflow.com/questions/48466361/how-to-reset-javascript-minute-countdown-timer/48466526 #}
        var timer;
        function startTimer(duration, display) {
            timer = duration;
            var minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        function resetTimer() {
          timer = 30;
          oldMove = "";
        }

        function voteBind() {
            console.log("clicked button");
            var selectedMove = "";
            var selection = $('input[name=moves]:checked');
            if (selection.length > 0)
            {
                // have a valid selection here
                selectedMove = selection.val();
                console.log("Selected move: " + selectedMove);
                greySquare(selectedMove.slice(0, 2));
                greySquare(selectedMove.slice(2,4));
                socket.emit('vote', {data: selectedMove});
                // disable button and radio buttons for now
                document.getElementById("vote_button").disabled = true;
            }
        }

        window.onload = function () {
            initTime = 30,
                display = document.querySelector('#time');
            startTimer(initTime, display);
        };

        var socket = io();
        socket.on('disconnect', function() {
            socket.emit('event', {data: 'disconnected'});
        });
        socket.on('voted', function(){
            onVote();
        });

        socket.on('reset_time', () => {
            // On reset, we remove grey squares, reload move list, reset game timer
            // and allow the vote button to be used again
            removeGreySquares();
            $("#moves").load(location.href+" #moves>*","");
            resetTimer();
            document.getElementById("vote_button").disabled = false;
        });

        socket.on("new_board_pos", (new_board) => {
            // animate the new board position
            board.position(new_board);
        });
    </script>
    <div id="credits">
    <small>v0.01 - 2020 - Tyler Weston - Written in Python using the Flask framework</small>
    </div>
{% endblock %}



