<title>pchess</title>

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#  bootstrap css #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    {# css for the chessboard #}
    <link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/pchess_local.css">
{% endblock %}

{% block navbar %}
    {% include "nav.html" %}
{% endblock %}



{% block content %}
    <script> var team = (Math.floor(Math.random() * 2) === 0) ? 0 : 1; // TODO: Make this more consistent eventually, good for now</script>
    <div class="container-fluid" style="height:100vh; padding: 20px;">
      <div class="row">
        <div class="col-sm" align="center">
            <h1>Your team: <div id="teamtext">...</div></h1>
            {# Left column #}
            {# Moves and move voting #}
            {# Ok, let's do this a bit differently #}
        {# we can do something like this? #}
        {# but first, we'll have to clear the div! #}
{#            function createInput(){#}
{#                var $input = $('<input type="button" value="new button" />');#}
{#                $input.appendTo($("body"));#}
{#            }#}
            <div class="container">
                <div id="moves">
                {# TODO: This checkmate and whose turn it is needs to be updated programatically now #}
                {# then we can take it out of the jinja rendering stuff #}
                    {# If we have mate, inform the players, plus what side won! #}
                <div id="checkdiv"></div>
                <div id="whoseturn"></div>
{#                    {% if checkmate %}#}
{#                        <h3>CHECKMATE</h3><br>#}
                        {# TODO: Which side won?! #}
{#                        <h4>New game starting soon</h4>#}
{#                    {% else %}#}
                        {# display which sides turn it is to play #}
{#                        {% if white_turn %}#}
{#                            <h2> White's turn</h2>#}
{#                        {%  else %}#}
{#                            <h2> Black's turn</h2>#}
{#                        {% endif %}#}
{#                        {% if check %}#}
{#                            <h2>CHECK</h2>#}
{#                        {% endif %}#}
                        <p>Legal moves:</p>
                        <div id="movewrapper">
                            {# This is where the moves will get populated #}
                        </div>
{#                        {% if not checkmate %}#}
                            <button class="btn btn-primary" id="vote_button" onclick="voteBind();">Vote</button>
{#                        {% endif %}#}
{#                    {% endif %}#}

                </div>
            </div>
        </div>
        <div class="col-sm" align="center">
            {# TODO: This should start as, WAITING FOR NEXT TURN #}
            <div id="timer">Waiting for next turn!</div>
            <div id="myBoard" style="width: 400px"></div>
        </div>

        {# Right column, chat box #}
        <div class="col-sm" align="center">

            <ul id="chatbox"></ul>

            <input name="user_msg" type="text" id="user_msg" autocomplete="off" maxlength="50" onkeyup="updateChars(this);"/>
            <span id="charsTotal">0</span>/50
            <button class="btn btn-primary" id="submit_button" onclick="submitMsg();">Submit</button>

        </div>
      </div>
    </div>

    {# Start of scripts and stuff goes here #}
    {# Let's randomly assign this player to a team when the page loads and make sure #}
    {# we only let them vote / see the moves for our team #}

    {# jquery and chessboard libraries #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>

    {# bootstrap js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>

    var charSlot = document.querySelector('#charsTotal');
    var msgBox = document.querySelector("#user_msg");
    var chatBox = document.querySelector("#chatbox");
    var whiteSquareGrey = '#a9a9a9';
    var blackSquareGrey = '#696969';
    var cp;

    var config = {pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
        draggable: true,
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd,
        position: {{board|tojson}}};
    var board = Chessboard('myBoard', config);
    var curBoard = {{board|tojson}};
    // grey square stuff from
    // https://chessboardjs.com/examples#5003

    function removeGreySquares () {
      $('#myBoard .square-55d63').css('background', '')
    }
    function greySquare (square) {
      var $square = $('#myBoard .square-' + square);
      var background = whiteSquareGrey;
      if ($square.hasClass('black-3c85d')) {
        background = blackSquareGrey
      }
      $square.css('background', background)
    }

    // deal with mousing over radio buttons
    function mouseOver(a) {
        greySquare(a.slice(0, 2));
        greySquare(a.slice(2,4));
    }

    function mouseOff(a) {
        removeGreySquares();
    }

    function onDragStart(source, piece, position, orientation)
    {
        // TODO: If we've just grabbed the SAME PIECE that we were just moving,
        //  we DON'T want to reset it to IT'S position.
        // Reset to the current board position
        board.position(curBoard, false);
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        var targetMove = source.concat(target);
        // get all moves
        var allMoves = $(".moveLabels").map(function() {
            return this.innerHTML;
        }).get();
        // make sure the move we want to do is a legal move
        if (allMoves.includes(targetMove)) {
            document.getElementById(targetMove).checked = true;
        }
        else {
            // if this isn't a legal move
            return 'snapback';
        }
    }

    function onSnapEnd()
    {

    }

    </script>

    {# Start up socketio for communicating with server #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
            integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        {# javascript timer from #}
        {# https://stackoverflow.com/questions/48466361/how-to-reset-javascript-minute-countdown-timer/48466526 #}
        var timer;

        function startTimer(duration, display) {
            // TODO: This shouldn't start until first message from the server!
            // TODO: We only want to run this function ONCE! after tat we just reset it!
            timer = duration;
            var seconds;
            setInterval(function () {
                seconds = parseInt(timer % 60, 10);
                display.textContent = seconds;
                --timer;
            }, 1000);
        }

        $("#user_msg").keypress(function(e){
           if (e.which === 13)
           {
               submitMsg();
           }
        });

        function submitMsg() {
            submitMsgToServer(msgBox.value);
            msgBox.value = "";
            charSlot.textContent = "0";
            return false;
        }

        function updateChars(val) {
            charSlot.textContent = val.value.length;
        }
        {#<div id="timer">Time to vote: <span id="time">...</span> seconds!</div>#}
        function resetTimer() {
            $("#timer").html('<div id="timer">Time to vote: <span id="time">...</span> seconds!</div>');
          timer = 30;
          display = document.querySelector('#time');
          startTimer(timer, display);
        }

        function voteBind() {
            var selectedMove = "";
            var selection = $('input[name=moves]:checked');
            if (selection.length > 0)
            {
                // have a valid selection here
                selectedMove = selection.val();
                greySquare(selectedMove.slice(0, 2));
                greySquare(selectedMove.slice(2,4));
                socket.emit('vote', {data: selectedMove});
                // disable button and radio buttons for now
                document.getElementById("vote_button").disabled = true;
            }
        }

        function submitMsgToServer(msg)
        {
            socket.emit('speak', {data: msg});
        }

        var socket = io();

        socket.on('disconnect', function() {
            socket.emit('event', {data: 'disconnected'});
        });

        socket.on('voted', function(){
            onVote();
        });

        socket.on('reset_time', () => {
            // On reset, we remove grey squares, reload move list, reset game timer
            // and allow the vote button to be used again
            removeGreySquares();
            // $("#moves").load(location.href+" #moves>*","");
            resetTimer();
            document.getElementById("vote_button").disabled = false;
            document.getElementById("teamtext").textContent = team ? "White" : "Black";
            checkTurn();
        });

        socket.on('mate_message', (mate_state) => {
            // mate_state = 1 => check
            // mate_state = 2 => checkmate!
            if (mate_state === 1)
            {
                $("#checkdiv").html("<h1>Check</h1>");
            }
            else if (mate_state === 2)
            {
                $("#checkdiv").html("<h1>Checkmate</h1>");
                // have to do some more endgame stuff here
            }
        });

        socket.on('new_message', (msg) => {
           var item = document.createElement('li');
           item.textContent = ">" + msg;
           chatBox.appendChild(item);
        });

        socket.on("new_board_pos", (new_board) => {
            // animate the new board position
            curBoard = new_board;
            board.position(new_board);
        });

        socket.on("legal_moves", (legal_moves) => {
            // We have to check if we're the player thats playing now or not
            // so we know if we populate this list or not!
           $("#movewrapper").empty();
           $.each(legal_moves, function(i, move) {
               var buttonhtml = make_button(move);
               $("#movewrapper").append(buttonhtml);
            })
        });

        function make_button(move)
        {
            return  "<div><input type='radio' id ='" + move + "' name='moves' value='" + move + "' onmouseover=\"mouseOver('" +
                    move + "')\" onmouseout=\"mouseOff('" + move + "')\">" +
                    "<label class='moveLabels' id='" + move + "' for='" + move + "' onmouseover=\"mouseOver('" + move + "')\" " +
                    "onmouseout=\"mouseOff('" + move + "')\">" + move + "</label></div>"
        }
/*
<input type="radio" id="{{ move }}" name="moves" value="{{ move }}" onmouseover="mouseOver('{{ move|safe }}')" onmouseout="mouseOff('{{ move|safe }}')">
<label class="moveLabels" id="{{ move }}" for="{{ moves }}" onmouseover="mouseOver('{{ move|safe }}')" onmouseout="mouseOff('{{ move|safe }}')">{{ move }}</label>

 */
        socket.on("cur_player", (player) => {
            // this sends TRUE if it is white's turn, false otherwise
                {#            <div id="checkdiv"></div>#}
                {#<div id="whoseturn"></div>#}
            console.log("received a cur_player message");
            const players = player?"White":"Black";
            $("#whoseturn").html("<h1>" + players + "s turn</h1>");
            cp = player ? 1: 0;
            // we might be able to do this here still and it might just not be working
            // as expected? look into disabling buttons and whatnot in a different way?
        });

        function checkTurn() {
            console.log("In checkTurn function");
            if (cp === team)
            {
                console.log("Your turn!");
                $("#movewrapper").children().prop('disabled', false);
                $("#movebutton").prop("value", "Enabled!");
            }
            else
            {
                console.log("Other players turn!");
                $("#movewrapper").children().prop('disabled', true);
                $("#movebutton").prop("value", "Disabled!");
            }
        }

    </script>
    <div id="credits">
    <small>v0.01 - 2020 - Tyler Weston - Written in Python using the Flask framework</small>
    </div>
{% endblock %}



