
#movewrapper {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  gap: 3px;
  justify-content: center;
}

#credits {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

small {
  text-align: center;
}

body {
  background-color: #E0E0E0;
}

label {
  margin-right: 3px;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 90%;
  width: 90%;
  border: 1px solid #a7a7a7;
  overflow-y: scroll;
  overflow-x: auto;
  word-wrap: break-word;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}
